# Arquivos de Cache e Bytecode do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ambiente Virtual
venv/ 
env/ 
.venv/

# Arquivos de Banco de Dados Local

db.sqlite3
*.sqlite3

# Arquivos de Configuração Secreta (CRUCIAL para Segurança)
.env
.DS_Store # Arquivo de sistema do Mac (macOS)